:root {
  /* Colors */
  --off-black: #111;
  --dark-800: #100F19;
  --dark-600: #181722;
  --dark-400: #22212a;
  --dark-200: #37363D;
  --light-600: #8e8e98;
  --light-400: #b4b4c0;
  --off-white: #eeeeee;

  --teal-100: #0cffdf;
  --teal-300: #08d2c4;
  --teal-500: #1D9D92;
  --teal-600: #093c38;
  --teal-800: #062724;

  --button-gradient: linear-gradient(270deg, #08d2c4, #0cffdf);
  --background-gradient: linear-gradient(45deg, #0F0F1A, #050510);

  /* Fonts */
  --font: 'Labrada', sans-serif;
}

.back-button {
    background-color: var(--dark-600);
     border: 1px solid var(--dark-200);
    color: var(--off-white);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    transition: all 0.5s ease;
}

.back-button:hover {
    background-color: var(--teal-500);
    cursor: pointer;
}