:root {
  /* Colors */
  --off-black: #111;
  --off-white: #eeeeee;

  --teal-100: #0cffdf;
  --teal-300: #08d2c4;
  --teal-500: #1D9D92;
  --teal-800: #062724;

  --button-gradient: linear-gradient(270deg, #08d2c4, #0cffdf);
  --background-gradient: linear-gradient(45deg, #0F0F1A, #050510);

  /* Fonts */
  --font: 'Labrada', sans-serif;
}

body {
  color: var(--off-white);
  background-image: var(--background-gradient);
}

main {
  max-width: 1320px;
  padding: clamp(4rem, 2.72rem + 6.4vi, 8rem) 1rem;
  margin: 0 auto !important;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
}

h1 {
  font-size: clamp(3rem, 2.04rem + 4.8vi, 6rem);
}

h1 span {
  font-weight: 200;
  display: block;
  margin-bottom: calc(-1 * clamp(1rem, 0.36rem + 3.2vi, 3rem));
  font-size: clamp(2.25rem, 1.53rem + 3.6vi, 4.5rem);
}

.banner-row {
    text-align: center;
    padding: 1rem;
}

.svg-container {
  border: 1px solid var(--teal-100);
  border-radius: 100%;
  padding: 0.5rem;
}

.banner-row svg {
    width: 2rem;
    stroke: var(--teal-100);
}

.banner-row p {
    white-space: nowrap;
    font-size: 1.5rem;
}

.banner-row > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
    justify-content: center; 
    margin-bottom: 1rem;
}

@media (width > 700px) {
    .banner-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
    }

    .banner-row > div {
        justify-content: flex-start;
    }
}
