:root {
  /* Colors */
  --off-black: #111;
  --dark-800: #100F19;
  --dark-600: #181722;
  --dark-400: #22212a;
  --dark-200: #37363D;
  --off-white: #eeeeee;

  --teal-100: #0cffdf;
  --teal-300: #08d2c4;
  --teal-500: #1D9D92;
  --teal-800: #062724;

  --button-gradient: linear-gradient(270deg, #08d2c4, #0cffdf);
  --background-gradient: linear-gradient(45deg, #0F0F1A, #050510);

  /* Fonts */
  --font: 'Labrada', sans-serif;
}

body {
  color: var(--off-white);
  background-image: var(--background-gradient);
}

main {
  max-width: 1320px;
  padding: clamp(4rem, 2.72rem + 6.4vi, 8rem) 1rem;
  margin: 0 auto !important;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
}

h1 {
  font-size: clamp(3rem, 2.04rem + 4.8vi, 6rem);
}

h1 span {
  font-weight: 200;
  display: block;
  margin-bottom: calc(-1 * clamp(1rem, 0.36rem + 3.2vi, 3rem));
  font-size: clamp(2.25rem, 1.53rem + 3.6vi, 4.5rem);
}

h2 {
  font-size: 2rem;
}

.banner-row {
    text-align: center;
    padding: 1rem;
}

.svg-container {
  border: 1px solid var(--teal-100);
  border-radius: 100%;
  padding: 0.5rem;
}

.banner-row svg {
    width: 2rem;
    stroke: var(--teal-100);
}

.banner-row p {
    white-space: nowrap;
    font-size: 1.5rem;
}

.banner-row > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
    justify-content: center; 
    margin-bottom: 1rem;
}

@media (width > 700px) {
    .banner-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
    }

    .banner-row > div {
        justify-content: flex-start;
    }

    .clues {
      display: flex;
      gap: 1rem;
    }
}

.across-down-clues {
  border: 1px solid var(--teal-100);
  border-radius: 1rem;
  padding: 1rem;
  flex: 1;
  background-color: var(--dark-800);
  max-height: 600px;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.clues-top {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.clues-top svg   {
  border-radius: 100%;
  border: 1px solid var(--teal-100);
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  color: var(--teal-100);
}

.clue-list {
  padding: 0;
  list-style: none;
}

.single-clue {
  background-color: var(--dark-600);
  padding: 0.75rem;
  text-align: left;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--dark-200);

  transition: all 0.25s ease;
}

.single-clue:hover {
  cursor: pointer;
  background-color: var(--dark-400);
}

.single-clue span {
  border-radius: 100%;
  border: 1px solid var(--teal-100);
  min-width: 2.5rem;
  height: 2.5rem;
  color: var(--teal-100);
  text-align: center;
  font-size: 1.5rem;
}

@media (width > 1100px) {

  .crossword-clues-container {
    display: flex;
    gap: 1rem;
  }

  .crossword-clues-container > div {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark-200);
  border-radius: 1rem;
  margin: 0.5rem;
}


::-webkit-scrollbar-thumb {
  background: var(--off-white);
  border-radius: 1rem;
}

.crossword {
  border: 1px solid var(--teal-100);
  border-radius: 1rem;
  padding: 1rem;
}

.crossword-viewport {
  background-color: var(--off-black);
  border: 1px solid var(--dark-200);
  border-radius: 1rem;
  text-transform: capitalize;
  width: 100%;
  height: 90%;
  overflow: hidden;
  cursor: grab;
  min-height: 500px;
  touch-action: none;
  overscroll-behavior: none;

  display: flex;
  flex-wrap: nowrap;
}

.crossword-viewport:active {
  cursor: grabbing;
}

.zoom-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: right;
  font-size: 1.5rem;
  padding: 0.75rem 0;
}

.zoom-controls svg {
  max-width: 3rem;
  background-color: var(--dark-600);
  border: 1px solid var(--dark-400);
  border-radius: 1rem;
  padding: 0.25rem;
  cursor: pointer;
}

.cell {
  background-color: var(--off-white);
  border-bottom: 1px solid var(--off-black);
  border-left: 1px solid var(--off-black);
  margin-bottom: 1rem;
  color: var(--off-black);
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  font-weight: 900;
  font-size: 2rem;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
}

.cell-container {
  position: relative;
  transition: transform, 0.1s ease;
}